body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
    color: #555;
}

section {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#board {
    display: grid;
    gap: 1vw;
    margin: 2vw;
    grid-template-columns: repeat(7, 10vw);
    justify-content: center;
}

.cell {
    width: 2vw;
    height: 2vw;
    background-color: #ffffff;
    border: 0.2vw solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.highlighted-column {
    background-color: rgba(241, 237, 128, 0.4);
}

#resetBtn {
    display: inline-block;
    margin: 2vw 1vw;
    padding: 1vw 2vw;
    font-size: 1.6vw;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetBtn:hover {
    background-color: #0056b3;
}

#gameStatus {
    margin-top: 2vw;
    font-size: 2vw;
    color: #555;
}

@media (max-width: 1200px) {
    #board {
        grid-template-columns: repeat(7, 35px);
        gap: 10px;
    }

    .cell {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    #board {
        grid-template-columns: repeat(7, 30px);
        gap: 8px;
    }

    .cell {
        width: 30px;
        height: 30px;
    }

    h1 {
        font-size: 1.75em;
    }

    #resetBtn {
        font-size: 14px;
        padding: 8px 16px;
    }

    #gameStatus {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    #board {
        grid-template-columns: repeat(7, 12vw);
    }

    .cell {
        width: 12vw;
        height: 12vw;
        border: 0.6vw solid #dddddd;
    }

    #resetBtn {
        font-size: 2vw;
        padding: 2vw 4vw;
    }

    #gameStatus {
        font-size: 4vw;
    }
}


@media (max-width: 480px) {
    #board {
        grid-template-columns: repeat(7, 25px);
        gap: 5px;
    }

    .cell {
        width: 25px;
        height: 25px;
    }

    h1 {
        font-size: 1.5em;
    }

    #resetBtn {
        font-size: 12px;
        padding: 6px 12px;
    }

    #gameStatus {
        font-size: 16px;
    }
} 
